.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
}
.menu .menuTitle {
  /* font-family: cursive; */
  font-size: 60px;
  font-family: 'Product Sans';
}

.menuList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.menuItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
  transform: translateY(5px);
}
.button {
  display: none;
}

.menuItem:hover > .button, .button:hover {
  margin-left: 20px;
  display: inline-block;
  
}

.menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.menuItem h2 {
  margin-left: 20px;
  font-family: 'Product Sans';
}

.menuItem p {
  margin-left: 20px;
  font-family: 'Product Sans';
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
    width: auto;
    align-items: center;
    justify-content: center;
  }
}

@font-face {
  font-family: 'Product Sans';
  src: local('Product Sans'), url(../assets/fonts/product-sans/Product\ Sans\ Regular.ttf) format('truetype');
}
