.HomeContents .HomeAssorted {
    height: 260px;
  }
  #home {
    margin-top: 0em;
  }
  .HomeContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em 5em 4em 8em;
  }
  .HomeContents .HomeDetails {
    width: 50%;
    box-shadow: 0 0 40px #00000015;
    border-radius: 3em;
    padding: 4em 5em;
    background-color: white;
  }
  .HomeContents .HomeDetails  .aboutText {
    font-size: 1.3em;
    font-weight: 500;
    color: #598f1e;
  }
  .HomeContents .homeHeading {
    color: #598f1e;
    font-size: 2em;
    font-weight: 600;
  }
  .HomeContents .homeHeading span {
    font-weight: 300;
    color: #e1eb9f;
  }
  
  /* media */
  @media (max-width: 992px) {
    .HomeContents {
      display: block;
    }
    .HomeContents.HomeAssorted {
      height: 120px;
      margin-bottom: 2em;
    }
    .HomeContents .HomeDetails {
      width: 100%;
      padding: 2em;
    }
    .HomeContents {
      padding: 3em;
    }
    .makeStyles-root-9 {
      display: block;
    }
    #home{
      margin-top: 1em;
    }
  }