.HomeAssorted {
  height: 5000px;
}
.Home .homeline2 {
  color: #598f1e;
  font-size: 2em;
  font-weight: 600;
  padding: 2em 0em 0em 10em;
}
.Home .homeline3 {
  color: #598f1e;
  font-size: 100em;
  font-weight: 600;
}

.HomeContents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0em 0em 45em;
  height: 500px;
  margin-top: 5em;
  margin-left: -40em;
  margin-right: 5em;
}